body {
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
}

.app {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

@media screen and (orientation: portrait) {
  body {
    background-color: rgba(244, 88, 80);
  }
  .button svg {
    fill: rgb(65, 183, 89);
  }
  .button:hover svg {
    fill: darkgreen;
  }
}
@media screen and (orientation: landscape) {
  body {
    background-color: rgb(65, 183, 89);
  }
  .button svg {
    fill: rgba(244, 88, 80);
  }
  .button:hover svg {
    fill: darkred;
  }
}
